<main>

  <div class="line">
    <hr class="horizontal lines" id="hr">
    <hr class="horizontal-right lines">
  </div>
  <div class="header-container">
    <div class="div-vertical">
      <hr class="line-vertical-top lines">
      <hr class="line-vertical lines">
    </div>
    
    <div class="text-info">
      <div class="icons-header">
        <ul>
          <li>
            <a (click)="toggleColorHr()">
              <i class="fas fa-regular fa-brush"></i>
            </a>
          </li>
        </ul>
  
        <ul>
            <li>
              <a (click)="toggleDarkTheme()" *ngIf="getClass(); else moon"><i class='fab fas fa-moon'></i></a>
              <ng-template #moon>
                <a (click)="toggleDarkTheme()"><i class='fas fa-sun'></i></a>
              </ng-template>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/sergio-dannunzio/" target="_blank">
                <i class="fab fa-brands fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Sergio-Dannunzio" target="_blank">
                <i class="fab fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a href="mailto:sergiodannunzio@hotmail.com">
                <i class="fab fa-brands fa-google"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="main-text">
          <div class="title">
            <h1>Hi im Sergio Web Developer</h1>
            <div class="paragraph">
              <span>
                <p>My name is Sergio Dannunzio, I´m a web developer based on Buenos Aires, Argentina. 
                   Currently i´m studying and finishing the carreer of University technician in development of computer applications, 
                   i´m passionate with front-end also i have good knowledge of back-end because of my studies.
                </p>
                <p>
                  I´m looking for my first job, very excited to get an opportunity and show my full potential.
                </p>
              </span>
            </div>
            </div>
            <div class="projects">
              <h2>Projects</h2>
              <a href="https://sergio-dannunzio.github.io/manos-a-la-obra-3/" target="_blank">List with angular</a>
              
              <a href="https://sergio-dannunzio.github.io/Interfaces/Entregable%204/Home.html" target="_blank">Gaming page</a>
              
              <a>Coming soon</a>
              
              <a>Coming soon</a>
            </div>
          </div>
        </div>
        <div class="div-vertical-right">
        <hr class="line-vertical-top lines">
        <hr class="line-vertical lines">
      </div>
  </div>
  <div class="line-down">
    <hr class="horizontal lines">
    <hr class="horizontal-right lines">
  </div>
</main>